#admin_login {
    border: 1px solid;
    margin: 50px auto;
    padding: 10px;
    width: 350px;
}

#admin_days {
	float: left;
	width: 268px;
}

#admin_day_details {
	border: 1px solid;
	float: right;
    width: 400px;
}

.box-table-a tr:hover
{
	cursor: pointer;
}
form {
	margin: 0;
	padding: 0;
}

div.stuck {
	position: fixed;
	top: 10px;
}

.editwordsform {
	position: relative;
	top: -24px;
	left: 100px;
}
