body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.highlight {
	background-color:yellow;
}

footer {
	padding-top: 30px;
}

.photo_item {
	padding: 10px;
}

div.my-page-header {
	padding-bottom: 30px;
	display: none;
}

.old-style-btn {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000;
}

.navbar .nav > li > a:hover {
	background: #E5E5E5;
}

.navbar .badge {
	padding-left: 6px;
	padding-right: 6px;
	font-size: 10px;
	background-color: #004BCC;
}

img#img_preview {
	display: none;
}

div.tooltip-inner {
	background-color: #004BCC;
	font-weight: bold;
	
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	/* IE 5-7 */
	filter: alpha(opacity=75);
	/* Netscape */
	-moz-opacity: 0.75;
	/* Safari 1.x */
	-khtml-opacity: 0.75;
	/* Good browsers */
	opacity: 0.75;
}

.extra-padding {
	padding: 15px 0px 30px 0px;
}

a.more-events-link {
	margin-top: 20px;
	font-size: 22px;
	font-weight: bold;
}

div.selected {
	padding-left: 5%;
	padding-right: 5%;
}

div.carousel, div.hasDatepicker {
	margin-top: 20px;
}

div.first-row {
	background-color: #F0F0F0;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 0 5px rgba(4, 75, 204, .45);
	-moz-box-shadow: 0 0 5px rgba(4, 75, 204, .45);
	box-shadow: 0 0 5px rgba(4, 75, 204, .45);
}

div.event {
	text-align: justify;
}

div.thumbnail {
	color: #006FDD;
	text-align: center;
}
div.thumbnail:hover {
	background-color: #006FDD;
	color: white;
	cursor: pointer;
}

div.selected-img {
	background-color: #006FDD;
	color: white;
}

div.accordion-heading {
	font-size: 20px;
	margin: 6px;
}

div.accordion-heading > img {
	width: 75px;
	height: 56px;
	padding-right: 20px;
}

div.accordion-inner > p {
	text-align: justify;
}

div.accordion-heading a.accordion-toggle {
	overflow: hidden;
}
.input-append,.input-prepend { 
	*display: inline;
}
a.brand:hover {
	color: #0088cc;
}

div.alldays {
	padding-top: 20px;
}

div.day-box {
	border-bottom: 1px solid #EEEEEE;
	padding: 10px 20px 20px 20px;
	-webkit-box-shadow: 0 0 5px rgba(4, 75, 204, .45);
	-moz-box-shadow: 0 0 5px rgba(4, 75, 204, .45);
	box-shadow: 0 0 5px rgba(4, 75, 204, .45);
}

div.date-box {
	text-align: center;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.75);
	color: rgb(14, 32, 59); 
	color: rgba(14, 32, 59, .75);
	-webkit-box-shadow: 0 0 5px rgba(14, 32, 59, .25);
	-moz-box-shadow: 0 0 5px rgba(14, 32, 59, .25);
	box-shadow: 0 0 5px rgba(14, 32, 59, .25);
	padding: 5px 0px 5px 0px;
	margin: 10px 0px 10px 0px;
	float: left;
	width: 70px;
}

div.event-box {
	margin-left: 90px;
	min-height: 100px;
	text-align: justify;
}

div.event-box > h4 {
	color: #0088cc;
}

div.date-box > p {
	font-size: 36px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
}
div.date-box > div.ems {
	background-color: rgb(14, 32, 59); 
	background-color: rgba(14, 32, 59, .5);
	color: white;
}

div.event-item {
	padding-top: 10px;
}

div.accordion-group {
	border: none;
	-webkit-box-shadow: 0 0 5px rgba(4, 75, 204, .45);
	-moz-box-shadow: 0 0 5px rgba(4, 75, 204, .45);
	box-shadow: 0 0 5px rgba(4, 75, 204, .45);
	padding: 5px;
}

.back-top-wrappper {
	position: fixed;
	bottom: 30px;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
}
a.back-top-link {
	z-index: 1000;
	display: none;
}

a.back-top-link > span {
	display: block;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA7CAMAAAAZzLmCAAAAaVBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9tAe1xAAAAInRSTlMAAwYJDxIVGBskLTM2Qk5XWl1peIeWpbG9ydLb5Orw9vn8YnnlZwAAAOFJREFUSMftlMkSgjAQBYMrRhYVooK48P7/I11QCmOWGW5Wpc/Tp341QtjJMjGK5HpNxnirM3Be8b3FCQ9OC643rfCimvG8yRFvjhOWuEfPnuOVGFDSvR2+2FG9rP0W24waHhq0ITzD61CG0IXX8Q/hE16nmrq96AALh8gpKlhRLq+Ag8LubeFkQw2vYxvCb3jaEEzhKUMwh/cPwRbeNwR7eM8QFMgocnjHEDZg0Q8hvfHEW9p58gImF/n04gZsmliIeY0R1DOxXBvIh0e56cLySuRQlIxPHsQgBjGIQfwf8Q6ehaEZTfyFPQAAAABJRU5ErkJggg==") no-repeat scroll center center #AEBCD5;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	transition: all 1s ease 0s;
	opacity: 0.4;
	filter: alpha(opacity=40);
	height: 90px;
	width: 90px;
}

a.back-top-link > span:hover {
	background-color: #0044EE;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

@media screen and ( max-width: 580px ) {
	.ui-datepicker-inline {
		margin: 0 auto;
	}
	.hasDatepicker {
		margin: 20px 0px;
	}
}

@media screen and ( min-width: 581px ) and ( max-width: 979px ) {
	.hasDatepicker {
		float: left;
		margin-right: 20px;
	}
}

@media screen and ( max-width: 979px ) {
	.span8 {
		width: 100%;
		margin-left: 0px;
	}
	.span4 {
		width: 100%;
	}
}

@media screen and ( min-width: 980px ) {
	.old-style-btn {
		display: block;
	}
}

/**** For responsive video: ****/
.flex-video {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 16px;
	overflow: hidden;
	-webkit-box-shadow: 0 0 10px rgba(4, 75, 204, .45);
	-moz-box-shadow: 0 0 10px rgba(4, 75, 204, .45);
	box-shadow: 0 0 10px rgba(4, 75, 204, .45);
}
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
.flex-video iframe,
.flex-video object,
.flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
	.flex-video { padding-top: 0; }
}

#fotorama_container h2 {
	text-align: center;
}

#fotorama_container .fotorama {
	margin: 15px 0px 30px 0px;
}