.day-header {
	padding-top: 5px;
	font-weight: bold;
}

.photo_item {
	float: left;
	padding: 5px;
}

#search-result {
	padding-top: 10px;
}

#select-filters {
	padding-bottom: 20px;
}

.event-list li {
	font-size: 14px;
	font-weight: normal;
}

.time {
	font-size: 12px;
}

.control-buttons {
	text-align: right;	
}

h4 {
	margin-top: 0px;
}
