.box-table-a
{
  margin: 0px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.box-table-a th
{
  font-weight: normal;
  padding: 5px 10px;
  background: #3760A8;
  border-bottom: 1px solid #fff;
  color: white;
}
.box-table-a td
{
  padding: 3px 10px;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid transparent;
}


.box-table-a .td_unselected {
  background: #e8edff;
  color: black;
}
.box-table-a .td_minselected {
  background: #ffde8e;
  color: black;
}
.box-table-a .td_selected {
  background: #3760A8;
  color: white;
}

.box-table-a tr:hover td
{
  background: #d0dafd;
  color: #3B5998;
}
.box-table-a a:link, .box-table-a a:visited {
  text-decoration: none;
}
.box-table-a a:hover {
  text-decoration: underline;
}
