body {
	margin: 0px;
	padding: 0px;
	background: #FBE2F3;
	text-align: justify;
	font: 13px Arial, Helvetica, sans-serif;
	color: #FD3790;
}

h1, h2, h3 {
	margin-top: 0px;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

p, ol, ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

a img {
	border: none;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	border: 10px solid #FFFFFF;
}

/* Header */

#header {
	width: 900px;
	height: 100px;
	margin: 0px auto;
	background-color: #F792C9;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Logo */

#logo {
	float: left;
	padding-left: 20px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 {
	padding: 25px 0px 0px 0px;
}

/* Menu */

#menu {
	float: right;
	text-transform: uppercase;
	font-weight: bold;
}

#menu ul {
	margin: 0px;
	padding: 49px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin: 0px;
}

#menu a {
	display: block;
	width: auto;
	padding: 6px 10px;

	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
}

#menu a:hover {
	color: #FBE2F3;
	background-color: #FD3790;
}

#menu .active {
	background-color: #FD3790;
}

/* Page */

#page {
	width: 900px;
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
	background: #FFFFFF;
}

#header-pic {
	padding-bottom: 15px;
	width: 900px;
	height: 140px;
}

/* Content */

#content {
	float: right;
	width: 570px;
}

.post {
	margin: 0px 0px 30px 0px;
}

.post .title {
	margin: 0px;
	background: #FD3790;
	padding: 7px 25px;
	font-size: 1.4em;
}

.post .title a {
	color: white;
}

.post .entry {
    padding: 10px 20px 0;
	font-family: Cursive, Verdana, Arial;
	font-size: 16px;
}

.post .entry .entry_item {
	border-bottom: 1px solid #FD3790;
	padding: 10px 0px;
}

.post .meta .links a {
	color: #FD3790;
}

.post .meta {
	font-weight: bold;
	padding-left: 20px;
}

.post .byline {
	margin: 0px;
	padding-left: 20px;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 300px;
}

#sidebar-bgtop {
}

#sidebar-bgbtm {
	background: url("/images/img03.jpg") no-repeat left bottom;
}

#sidebar-content {
	background: url("/images/img01.jpg") repeat-y left top;
}

#sidebar ul {
	padding: 0px 0 5px 0;
	margin: 0px;
	list-style: none;
}

#sidebar li li {
	margin-left: 20px;
	margin-right: 20px;
	line-height: 30px;
	padding-left: 15px;
	border-bottom: 1px dashed #BDBDBD;
}

#sidebar li ul {
	margin-bottom: 1.8em;
	list-style: none;
}

#sidebar h2 {
	background-color: #FD3790; 
	padding: 7px 25px;
	font-size: 1.4em;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Search */

#search fieldset {
	margin-left: 20px;
	margin-bottom: 10px;
	border: none;
}

#search #searchTerm {
	width: 160px;
}

/* Footer */

#footer {
	clear: both;
	width: 900px;
	height: 50px;
	margin: 0px auto 30px auto;
	color: #FD3790;
}

#footer p {
	margin: 0px;
	padding: 19px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: smaller;
}

#content_dbfix {
	background: white;
}

#datepicker1 {
	padding: 0px 10px 10px 10px;
}

/* , input[type="text"], input[type="password"] */ 
input, select, textarea, button {
	font-family: Cursive, Verdana, Arial;
	font-size: 16px;
	color: #FD3790;
}

button {
	background: #fff;
	border:1px solid #FE2987;
	cursor: pointer;
}
button:hover {
	color: #fff;
	background: #FD3790; 
	cursor: pointer;
}

#age {
	font-family: Cursive,Verdana,Arial;
  font-size: 16px;
}

.imgcell {
	padding: 20px 10px 10px;
	text-align: center;
  background-color: #FBE2F3;  
}

.imgcell img {
	border: 1px solid #FD3790;
}

/* css for timepicker */
.ui-timepicker-div { font-size: 12px; }
.ui-timepicker-div .ui-widget-header{ margin-bottom: 5px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; } 

.isotope_item {
	padding: 15px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 245px;
	background-color: #FBE2F3;
	border: 2px solid #FD3790;
	margin-bottom: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

div.buttons {
	padding: 3px;
}


img.cancel, img.zoom {
	cursor: pointer;
	border: 2px solid #FBE2F3;
	border-radius: 3px 3px 3px 3px;
}
img.baba {
	border: 5px solid #FBE2F3;
    border-radius: 20%;
	-moz-border-radius: 20%;
	-webkit-border-radius: 20%;
    cursor: pointer;
}

img.selected {
	border: 5px solid #FBE2F3;
    cursor: default;
}

#isotope_container img:hover {
	border-color: #FD3790;
}
.photo_item {
	padding: 10px;
}